.web-view {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background-color: aliceblue;
}

.project-container {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.project-container2 {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 30px;
}

.proj-cont1 {
    width: 50%;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(-90deg, var(--primary-app-color), var(--secondary-app-color));
}

.proj-tools {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 15px;
    gap: 10px;
}

.tools-specs {
    border: 1px solid;
    padding: 5px 2px;
    text-align: center;
    border-radius: 25px;
    color: black;
    background-color: #fff000;
}

.btn-sourcecode {
    font-size: 1.3rem;
    font-family: "Ubuntu";
    color: #fff;
    background: transparent;
    border-radius: 20px;
    /* margin-inline: 12px; */
    padding: 5px 10px;
    border: 2px solid white;
    transition: all 0.3s ease-in-out;
    animation: Anim 1s ease-in-out infinite;
}

.btn-sourcecode:hover {
    transform: translateY(-5px);
    background-color: #fff000;
    color: #333;
}

.btn-getdemo {
    font-size: 1.3rem;
    font-family: "Ubuntu";
    color: #fff;
    background: #fff;
    color: #333;
    border-radius: 20px;
    padding: 5px 20px;
    /* margin-inline: 12px; */
    border: 2px solid #333;
    transition: all 0.3s ease-in-out;
}

.btn-getdemo:hover {
    transform: translateY(-5px);
}

.toolbtndiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-top: 22px;
    margin-bottom: 20px;
}



@media screen and (max-width: 1000px) {
    .project-container {
        flex-direction: column;
    }

    .project-container2 {
        flex-direction: column;
    }

    .proj-cont1 {
        width: 92%;
        margin: auto;
    }

    .btn-sourcecode {
        font-size: 18px;
        padding: 5px 10px;
    }

    .btn-getdemo {
        font-size: 18px;
        padding: 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    .proj-tools {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .proj-cont1 h4 {
        display: none;
    }

    .proj-cont1 h5 {
        display: none;
    }

    .toolbtndiv {
        flex-direction: column;
        align-items: center;
    }
}