*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-app-color: #02203c;
    --secondary-app-color: #001528;
}

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background: linear-gradient(-90deg, var(--primary-app-color), var(--secondary-app-color));
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 30;
}

.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav-links{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}

.Home, .AboutMe, .Resume, .Projects, .ContactMe, .skills{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.mobile-menu-icon{
    display: none;
}

@media screen and (max-width: 1180px){
    .logo{
        display: flex;
        position: absolute;
        top: 15px;
        left: 35px;
    }

    .nav-links{
        display: none;
    }

    .nav-links-mob{
        width: 102vw;
        position: absolute;
        display: block;
        list-style: none;
        background: linear-gradient(-90deg, var(--primary-app-color), var(--secondary-app-color));
        left: 0;
        top: 80px;
        transition: all 0.5s ease-in-out;
        width: 100%;
    }

    .Home, .AboutMe, .Resume, .Projects, .ContactMe, .skills{
        color: #fff;
        text-align: center;
        padding: 2rem;
        width: 100%;
        transition: all 0.5s ease;
        cursor: pointer;
    }

    .mobile-menu-icon{
        display: block;
        position: absolute;
        font-size: 2rem;
        color: #fff;
        background: linear-gradient(-90deg, var(--primary-app-color), var(--secondary-app-color));
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        z-index: 30;
    }
}