.footer {
    background: linear-gradient(-90deg, var(--primary-app-color), var(--secondary-app-color));
    color: #fff;
    height: 150px;
}

.footerDiv {
    margin-top: 20px;
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footerCopy {
    text-align: center;
    margin-top: 20px;
}

@media screen and (max-width: 1400px) {
    .footerDiv {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) {
    .footerDiv {
        width: 50%;
    }
}

@media screen and (max-width: 800px) {
    .footerDiv {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .footerDiv {
        width: 70%;
    }
}

@media screen and (max-width: 550px) {
    .footerDiv {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    .footerDiv {
        width: 100%;
        justify-content: space-around;
    }
}